/*
!/.gitignore
!/.gitattributes
!/.travis.yml
!/Makefile
!/README.md
!/LICENSE.md

!/src/
/src/*
!/src/*.cpp

!/tests/
/tests/*
!/tests/*.cpp
!/tests/*.h
!/tests/original.png
!/tests/container.png

!/include/
/include/*
!/include/*.h

# Ignore everything but the solution and projects
!/msvc/
/msvc/*
!/msvc/PNGStego.sln
!/msvc/PNGStego.vcxproj
!/msvc/PNGDeStego.vcxproj
# ... and a resource file
!/msvc/version.rc

# Same for Xcode
!/xcode/
/xcode/*
!/xcode/PNGStego.xcodeproj/
/xcode/PNGStego.xcodeproj/*
!/xcode/PNGStego.xcodeproj/project.pbxproj
!/xcode/PNGStego.xcodeproj/project.xcworkspace/
/xcode/PNGStego.xcodeproj/project.xcworkspace/*
!/xcode/PNGStego.xcodeproj/project.xcworkspace/contents.xcworkspacedata