# Ignore everything but the solution and projects
/msvc/*
!/msvc/PNGStego.sln
!/msvc/PNGStego.vcxproj
!/msvc/PNGDeStego.vcxproj

# Same for Xcode
/xcode/*
!/xcode/PNGStego.xcodeproj/
!/xcode/PNGStego.xcodeproj/project.pbxproj
!/xcode/PNGStego.xcodeproj/project.xcworkspace/
!/xcode/PNGStego.xcodeproj/project.xcworkspace/contents.xcworkspacedata