//
// Copyright (C) 2015 Zireael (zireael dot nk at gmail dot com)
//  Distributed under the Boost Software License, Version 1.0.
//       (See accompanying file LICENSE.md or copy at
//           http://www.boost.org/LICENSE_1_0.txt)
//

#define VS_VERSION_INFO 1

#define __PNGSTEGO_VER_KEEP_DEFINES
#include "../include/pngstegoversion.h"
#undef  __PNGSTEGO_VER_KEEP_DEFINES

// This define doesn't mean anything, Windows wants 4 numbers.
#define BUILDNUM 42

VS_VERSION_INFO VERSIONINFO
 FILEVERSION __PNGSTEGO_VER_MANOR, __PNGSTEGO_VER_MINOR, __PNGSTEGO_VER_RELEASE, BUILDNUM
 PRODUCTVERSION __PNGSTEGO_VER_MANOR, __PNGSTEGO_VER_MINOR, __PNGSTEGO_VER_RELEASE, BUILDNUM
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "0409FDE9"
        BEGIN
            VALUE "LegalCopyright", "Copyright (C) 2015 Zireael"
            VALUE "ProductName", "PNGStego"
            VALUE "ProductVersion", __PNGSTEGO_VER_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 65001
    END
END
